<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaSOA2GJ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CapaSOA2GJ.Properties.Settings>
            <setting name="CapaSOA2GJ_SOABAWF_WorkflowEngineSOA" serializeAs="String">
                <value>http://10.130.70.16/Colp_Desa/webservices/workflowenginesoa.asmx</value>
            </setting>
        </CapaSOA2GJ.Properties.Settings>
    </applicationSettings>
</configuration>